.navtext {
  font-family: "Bowlby One";
  font-weight: normal;
  padding-left: 5px;
}
.navcolor {
  background-color: #1e1e1e;
}
.navbtn {
  font-weight: 500 !important;
  font-size: larger !important;
  border-radius: 5px !important;
}
.navbtn:hover {
  color: black !important;
}
