.categoriesbg {
  background-color: #1e1e1e;
  color: #ff5733;
}
.categorybtn {
  font-weight: 800 !important;
  font-size: larger !important;
  background-color: #ff5733 !important;
  font-style: italic !important;
  color: white !important;
}
